# Configuration file for Xeon Gold 6326 Processor
# https://ark.intel.com/content/www/us/en/ark/products/212289/intel-xeon-platinum-8368q-processor-57m-cache-2-60-ghz.html
# 64GB EPC 
# https://www.cpu-world.com/CPUs/Xeon/Intel-Xeon%206328H.html


#include icelake

[system/addr_trans]
enable = true
page_size = 4 # in KB

[perf_model/cxl]
enable = true
num_memory_expanders = 1
queue_type = history_list

[perf_model/cxl/memory_expander_0] # starting from 0
# CXL access time excluding core-LLC
# #Pond#
# /wo retimer: 25ns (CXL port) + 5ns (CXL bus) + 25ns (CXL port) + 15ns (ACL NOC) + 45ns (DDR) = 115 ns
# /w retimer:  25ns (CXL port) + 30ns (CXL bus + retimer) + 25ns (CXL port) + 15ns (ACL NOC) + 45ns (DDR) = 140 ns
latency = 115 # in ns

# Theoretical Achievable BW from Intel: 50.7 R, 25.3 W
# 1/4 for scaling down. 
bandwidth = 12.7 # in GB/s
cxl_cntlr_node = 0
size = 32 # in GB

[perf_model/cxl/vnserver]
enable = false