# Configuration file for AMD EPYC 9754, Zen4c (small core) architecture
# https://www.amd.com/en/products/cpu/amd-epyc-9754
# Total core: 128
# 1/4 scale down of EPYC 9754

#include zen4_cxl
[general]
total_cores = 11


# L3: cache  16 ccx x 16MB/ccx
# Latency 2MB page 49.32 cycles, 
[perf_model/l3_cache]
cache_size = 22528          # In KB scale from 16MB/8cores to (22MB/11 cores)
shared_cores = 11            # Number of cores sharing this cache
address_hash = mod

[perf_model/dram_directory]
# total_entries = number of entries per directory controller 
total_entries = 3496192 # 1M entries, total l3 cache size = 4 x 16MB / 64B cacheline = 1M (1/3 down scaled)

## DDR5-4800, 12 ch total, 3 per MC, 4 MCs.
# DDR5-4800 = 38.4 GB/s / ch, 76.8 GB/s / MC
# 128GB/dim, 256GB/ch, 3 ch/MC x 4 MCs
# 1/4 scale down to 3 chs, 1 MC
[perf_model/dram]
per_controller_size = 256                 # in GB (128GB/dimm, 256GB/ch, 768GB/MC)
per_controller_bandwidth = 25.6

[perf_model/dram/dramsim]
# TODO: use DDR5_4800 config
# config=DDR5_32Gb_x16_4800
channles_per_contoller= 1

[perf_model/cxl/memory_expander_0] # starting from 0
# CXL access time excluding core-LLC
# #Pond#
# /wo retimer: 25ns (CXL port) + 5ns (CXL bus) + 25ns (CXL port) + 15ns (ACL NOC) + 45ns (DDR) = 115 ns
# /w retimer:  25ns (CXL port) + 30ns (CXL bus + retimer) + 25ns (CXL port) + 15ns (ACL NOC) + 45ns (DDR) = 140 ns

# Theoretical Achievable BW from Intel: 50.7 R, 25.3 W
# 1/4 for scaling down. 
bandwidth = 4.23 # in GB/s (1/3 down scaled)
size = 256 # in GB 128GB/dimm, 2 dimms/ch, 3 chs

[perf_model/cxl/memory_expander_0/dram/dramsim]
channles_per_contoller= 1